{% extends '::base.html.twig' %}
{% form_theme form 'MKosolofskiSiteFormBundle:form:theme.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {{ form_row(form.firstName) }}
            {{ form_row(form.company) }}
            {{ form_row(form.subject) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.message) }}
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="text-center">{{ form_row(form.submit) }}</div>
    {{ form_end(form) }}
{% endblock %}
